@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Inconsolata:wght@300&family=Pangolin&family=Ultra&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(to right top, #081b2e, #091725, #07121c, #050c13, #030405);
}

::-webkit-scrollbar{
    width: 5px;
}

::-webkit-scrollbar-thumb{
    background-color: #fcb201;
}

::-webkit-scrollbar-track{
    background-color: #000;
}