
.myBio{
    background-color: #fcb201;
    display: flex;
    padding: 2rem 3rem 0 3rem;
}

.textBio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 20%;
}
.textBio h1{
    font-family: 'Ultra', 'serif';
    text-shadow: 0 5px #F3705B;
    margin-bottom: 3rem;
}
.textBio p{
    font-family: 'Inconsolata', monospace;
    font-size: 20px;
}
.imgBio{
    flex: 8rem;
    transform: translateX(1.5rem);
}
.imgBio img{
    height: auto;
    width: 100%;
}

@media(max-width: 1299px){
    .imgBio{
        display: none;
    }
}