.cardContato{
    display: flex;
    justify-content: space-around;
    background-color: #fcb201;
    padding: 0 5rem 5rem 5rem;
    border-bottom: 3px solid #F3705B;
}
.infoContato{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 55%;
}
.infoContato h1{
    font-family: 'Ultra', 'serif';
}
.infoContato p{
    font-family: 'Amatic SC', serif;
    font-size: 25px;
}

.infoContato ul{
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.contatoImg{
    text-align: center;
    width: 27%;
}

.contatoImg img{
    width: 100%;
    height: auto;
}

@media(max-width: 1000px){
    .contatoImg{
        display: none;
    }
    .cardContato{
        padding: 1rem 3rem 5rem 3rem;
    }
    .infoContato{
        width: 100%;
    }
    .infoContato ul{
        justify-content: center;
    }
}
