.cardContato{
    display: flex;
    justify-content: space-around;
    background-color: #fcb201;
    padding: 0 5rem 5rem 5rem;
    border-bottom: 1px solid #000;
}
.infoContato{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 55%;
}
.infoContato h1{
    font-family: 'Ultra', 'serif';
    text-shadow: 0 5px #F3705B;
}
.infoContato p{
    font-family: 'Inconsolata', monospace;
    font-size: 20px;
}

.infoContato p a{
    text-decoration: none;
    font-weight: bold;
    color: #c40800;
    text-shadow: 0 1px #F3705B;
    position: relative;
    padding-bottom: .3rem;
}

.infoContato p a::after{
    content: '';
    width: 0%;
    height: 2px;
    position: absolute;
    background-color: #c40800;
    bottom: 0;
    left: 0;
    transition: .3s ease-in-out;
}
.infoContato p a:hover::after{
    width: 100%;
    
}

.infoContato ul{
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
.infoContato ul img:hover{
    transform: scale(1.1);
    transition: all ease-in .1s;
}

.contatoImg{
    text-align: center;
    width: 27%;
}

.contatoImg img{
    width: 100%;
    height: auto;
}

@media(max-width: 1000px){
    .contatoImg{
        display: none;
    }
    .cardContato{
        padding: 1rem 3rem 5rem 3rem;
    }
    .infoContato{
        width: 100%;
    }
    .infoContato ul{
        justify-content: center;
    }
}
