.fooTer{
    background-color: #fcb201;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1.3rem;
}
.fooTer h2{
    font-family: 'Ultra', 'serif';
    font-size: 25px;
}
.listFooter{
    display: flex;
    width: 52%;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    font-family: 'Amatic SC', cursive;
    font-size: 35px; 
}

.listFooter a{
    text-decoration: none;
    color: #000;
}

@media(max-width: 900px){
    .fooTer, .listFooter{
        flex-direction: column;
    }

    .listFooter{
        width: auto;
        text-align: center;
        margin: 3rem 0 3rem 0;
        gap: 3rem;
    }
}