.fooTer{
    background-color: #fcb201;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1.3rem;
}
.fooTer h2{
    font-family: 'Ultra', 'serif';
    font-size: 25px;
    text-shadow: 0 5px #F3705B;
}
.fooTer h6{
    font-family: 'Inconsolata', monospace;
    font-size: 18px;
}

.listFooter{
    display: flex;
    width: 52%;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    font-family: 'Inconsolata', monospace;
    font-size: 20px; 
}

.listFooter li a:hover{
    color: #fcb201;
    text-shadow: 1px 1px 1px #000;
    transition: all ease-in .1s;
}

.listFooter a{
    text-decoration: none;
    color: #000;
}

@media(max-width: 900px){
    .fooTer, .listFooter{
        flex-direction: column;
    }

    .listFooter{
        width: auto;
        text-align: center;
        margin: 3rem 0 3rem 0;
        gap: 3rem;
    }
}