 .navBar{
    background-color: #fcb201;
    padding: 1.6rem;
}
.navLogo{
    width: 50%;
    text-align: center;
}

.navBar h2{
    font-family: 'Ultra', serif;
    text-shadow: 0 5px #F3705B;
}

.listNavbar{
    justify-content: center;
    text-align: center;
    font-family: 'Inconsolata', monospace;
    font-size: 20px;
}
.listNavbar li a:hover{
    color: #fcb201;
    text-shadow: 1px 1px 1px #000;
    transition: all ease-in .1s;
}

.listNavbar a{
    text-decoration: none;
    color: #000000a8;
}

@media (max-width: 900px) {
    .listNavbar{
        margin-top: 2rem;
        font-size: 18px;
    }
    .navLogo{
        width: auto;
    }
    .listNavbar li a:hover{
        border-radius: 5px;
        background-color: #c40800;
    }
}