 .navBar{
    background-color: #fcb201;
    padding: 1.8rem;
}
.navLogo{
    width: 50%;
    text-align: center;
}

.navBar h2{
    font-family: 'Ultra', serif;
    text-shadow: 0 5px #F3705B;
    cursor: pointer;
}

.listNavbar{
    justify-content: center;
    text-align: center;
    font-family: 'Inconsolata', monospace;
    font-size: 20px;
}
.listNavbar li a{
    position: relative;
}
.listNavbar li a::after{
    content: '';
    width: 0%;
    height: 2.5px;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #fcb201;
    transition: .3s ease-in-out;
}
.listNavbar li a:hover::after{
    width: 100%;
    background-color: #c40800;
}

.listNavbar li a:hover{
    color: #000;
}

.listNavbar a{
    text-decoration: none;
    color: #000000a8;
}

@media (max-width: 900px) {
    .listNavbar{
        margin-top: 2rem;
        font-size: 18px;
    }
    .navLogo{
        width: auto;
    }

    .listNavbar li a::after{
        content: none;
    }
    .listNavbar li a:hover{
        border-radius: 5px;
        color: #fcb201;
        text-shadow: 0 1px #000;
        font-size: 18px;
        background-color: #c40800;
    }
}