.projetos{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
}

.textProjetos{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    gap: 2rem;
}
.textProjetos h1{
    font-family: 'Ultra', 'serif';
    color: #fcb201;
    text-shadow: 0 5.5px #C40800;
}
.textProjetos p{
    margin: 2rem 6rem 0 6rem;
    font-family: 'Inconsolata', monospace;
    text-align: center;
    font-size: 21px;
}
.textProjetos p:nth-child(2){
    text-align: start;
}
.textProjetos a, .listaProjetos a{
    text-decoration: none;
    color: #fcb201;
}

:is(.listaProjetos, .textProjetos) a:hover{
    color: #fcb201;
    text-shadow: 1.1px 1.1px #C40800;
    font-weight: bold;
    transition: .3s ease-in-out;
}

.listaProjetos{
    display: flex;
    justify-content: center;
    width: 90%;
    flex-wrap: wrap;
    gap: 4rem;
    margin-top: 4rem;
}
.listaProjetos div{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20rem;
    padding: 1.2rem;
    border: 2px solid #fcb201;
    border-radius: 5px;
}
.listaProjetos div:hover{
    animation: vaivem normal .7s;
    transition: ease-in-out box-shadow .5s;
    box-shadow: 9px 10px 33px 7px indigo;
}

@keyframes vaivem {
    0%, 10%{
        transform: scale(.9);
    }
    50%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
}

.listaProjetos h4{
    font-family: 'Ultra', 'serif';
    color: #fcb201;
    font-size: 17px;
    margin-top: 1rem;
    margin-bottom: 1.3rem;
}
.listaProjetos p{
    font-family: 'Inconsolata', monospace;
    text-align: center;
    font-size: 16px;
    color: #fff;
}

.listaProjetos video{
    border: 2px solid #fcb201;
    border-radius: 5px;
    width: 260px;
    height: 260px;
}

@media(max-width:1000px){
    .textProjetos p{
        margin: 2rem 0 0 0;
    }
}
